---
layout: default
---
<!-- _layouts/cv.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            <div class="cv">
              {% for entry in site.data.cv %}
                <div class="card mt-3 p-3">
                  <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
                  <div>
                  {% if entry.type == "list" %}
                    {% include cv/list.html %}
                  {% elsif entry.type == "map" %}
                    {% include cv/map.html %}
                  {% elsif entry.type == "nested_list" %}
                    {% include cv/nested_list.html %}
                  {% elsif entry.type == "time_table" %}
                   {% include cv/time_table.html %}
                  {% else %}
                    {{ entry.contents }}
                  {% endif %}
                  </div>
                </div>
              {% endfor %}
              </div>
          </article>
          <p> <b>Bio:</b> He (i.e., Me, Nima!) received his B.Sc. and M.Sc. degrees in Electrical Engineering from Shahid Beheshti
            University and K.N.Toosi University of Technology, Tehran, Iran in 2015, and 2018, respectively. 
            He is currently pursuing the Ph.D. degree with the School of Electrical, Computer and Energy Engineering,
            at Arizona State University.  Along with his advisors, Professor Lalitha Sankar and Professor Oliver Kosut,
            they work on the application of machine learning (ML) and data science in identifying various types of events 
            in power systems using the huge amount of high-dimensional Spatio-temporal data obtained from GPS-synchronized
            phasor measurement units (PMU) devices. His research interests include application of machine learning 
            and data science in power systems, and resilience in critical infrastructure networks. </p>
        </div>
